<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to 'Kill Bills', root_path, id: 'logo' %>
  <nav class="top-navigation pull-right">
    <%= render 'layouts/navigation/navigation' %>
  </nav>
</header>