<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Bills', bills_path %></li>
     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'edit profile', edit_user_registration_path(id: current_user.id) %></li>
          <li class="divider"></li>
          <li><%= link_to 'logout', destroy_user_session_path, method: "delete" %></li>
        </ul>
      </li>
  <% end %>
</ul>