// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bill-table {
  width: 100%;

  td {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    a:hover {
      cursor: pointer;
    }
  }

  tr {
    td:nth-child(5){
      background-color: darkkhaki;
    }
    background-color: white;
  }

  th {
    background-color: #fff;
  }
  th,  td {
    padding: 3px 5px;
  }
  td.clickable:hover {
    cursor: pointer;
  }

  .bill-items-table-holder{
    background-color: burlywood;
    table {
      width: 90%;
      margin: auto;
    }
  }

  .table-icon {
    width: 25px;
    height: 25px;
    margin: 2px;
  }
}
