.categories-table {
  background-color: #FFF;
  td, th {
    border-width: 1px;
    border-style: solid;
    text-align: center;
  }

  .parent-category {
    background-color: #68e1ff !important;
  }

}

.expense-icon {
  float: left;
  margin-left: 10px;
  height: 16px;
  width: 16px;
}
