<script type="text/javascript">
    google.charts.setOnLoadCallback(areaChart);

    function areaChart() {
        var data = google.visualization.arrayToDataTable([
            ['Day',
                <% categories.each do |cat| %>
                '<%= cat.name %>',
                <% end %>
            ],
            <% data.each do |value| %>
            [
                '<%= value[0] %>',
                <% (1...value.size).each do |i| %>
                <%= value[i] %>,
                <% end %>
            ],
            <% end %>
        ]);

        var options = {
            isStacked: true,
            title: 'Spotreba',
            hAxis: {title: 'Deň',  titleTextStyle: {color: '#333'}},
            vAxis: {title: 'Peneži', minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('area_chart'));
        chart.draw(data, options);
    }
</script>