<script type='text/javascript'>
    google.charts.setOnLoadCallback(drawMarkersMap);

    function drawMarkersMap() {
        var data = google.visualization.arrayToDataTable([
            ['Address',   'Sum'],
            <% data.each do |k,v| %>
            ['<%= k %>', '<%= v %>€'],
            <% end %>
        ]);

        var options = {
            showTooltip: true,
            showInfoWindow: true
        };

        var chart = new google.visualization.Map(document.getElementById('geo_chart'));
        chart.draw(data, options);
    };
</script>
