.bill-table{width:100%}.bill-table td{border-style:solid;border-width:1px;border-collapse:collapse}.bill-table td a:hover{cursor:pointer}.bill-table tr{background-color:white}.bill-table tr td:nth-child(5){background-color:darkkhaki}.bill-table th{background-color:#fff}.bill-table th,.bill-table td{padding:3px 5px}.bill-table td.clickable:hover{cursor:pointer}.bill-table .bill-items-table-holder{background-color:burlywood}.bill-table .bill-items-table-holder table{width:90%;margin:auto}.bill-table .table-icon{width:25px;height:25px;margin:2px}
