.categories-table{background-color:#FFF}.categories-table td,.categories-table th{border-width:1px;border-style:solid;text-align:center}.categories-table .parent-category{background-color:#68e1ff !important}.expense-icon{float:left;margin-left:10px;height:16px;width:16px}
